<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dashboard</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="d-flex justify-content-between align-items-center py-2 px-5">
	<h1 class="text-center">Muro Coding Dojo</h1>
	<h2 class="text-center">Bienvenido {{usuario.nombre}}!!!</h2>
	<a href="/logout" class="btn btn-info">Logout</a>
</div>
<hr>
<main class="d-flex justify-content-around">
	<div class="col-5 bg-dark text-light">
		<h2 class="text-center">{{mensajes|length}} Mensajes para ti</h2>
		<hr class="bg-warning">

		{% for mensaje in mensajes %}
		{% if mensaje.receptor_id == session.usuario_id  %}
		
		<div class="card bg-primary my-2">
			<div class="card-body">
				<h3 class="card-title">{{mensaje.remitente}} dice {{mensaje.time_span()}}:</h3>
				<p class="card-text">{{mensaje.contenido}}</p>
			</div>
			<div class="card-footer">
				<a href="/destroy/message/{{mensaje.id}}" class="btn btn-danger">Delete</a>
			</div>
		</div>
		{%else%} 
		<p>no tienes mensajes</p>
		{%endif%}
		{% endfor %}
	</div>
	<div class="col-5 bg-dark text-light">
		<h2 class="text-center">Enviar Mensajes:</h2>
		<hr class="bg-warning">
		{% for u in usuarios %}
			{% if u.id != session.usuario_id %}
				<form class=" p-2"action="/post_message" method="post">
					<input type="hidden" name="remitente_id" value={{session.usuario_id}}>
					<input type="hidden" name="receptor_id" value={{u.id}}>
					<label for="receptor_id">Mensaje {{u.nombre}}:</label>
					<textarea class="form-control" name="contenido" id="" cols="30" rows="3"></textarea>
					<input type="submit" value="Mensaje" class="btn btn-warning">
				</form>
			{% endif %}
		{% endfor %}
	</div>
</main>
</body>
</html>